.container {
  clear: both;
  position: relative;
  height: 7rem;

  .trapezium {
    width: 60%;
    height: 7rem;
    transform: perspective(8px) rotateX(1deg);
    margin: auto;
    border-bottom: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    list-style-type: none;
    display: flex;
    flex-direction: row;

    li {
      margin: 0 3rem;

      a {
        position: relative;
        top: 0;
        transition-duration: 0.3s;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 40px;
          bottom: -20px;
          z-index: -1;
          transform: scale(0.8);
          box-shadow: 0px 0px 25px 2px #000000;
          transition-duration: 0.3s;
        }

        &:hover {
          top: -5px;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            width: 40px;
            bottom: -25px;
            z-index: -1;
            transform: scale(0.8);
            box-shadow: 0px 0px 30px 2px #000000;
          }
        }

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }
    }
  }
}
